<p-panel style="margin-top: 1em">
  <form [formGroup]="form">
    <div class="grid">
      @let nomeInvalido = form.get('nome')?.invalid && form.get('nome')?.touched;
      @let tempoPreparoInvalido =
        form.get('tempoPreparo')?.invalid && form.get('tempoPreparo')?.touched;
      @let porcoesInvalido = form.get('porcoes')?.invalid && form.get('porcoes')?.touched;
      @let modoPreparoInvalido =
        form.get('modoPreparo')?.invalid && form.get('modoPreparo')?.touched;

      <!-- Nome -->
      <p-inputgroup>
        <p-inputgroup-addon
          [style]="{
            'border-color': nomeInvalido ? 'var(--p-inputtext-invalid-border-color)' : '',
          }"
        >
          <i
            [style]="{
              color: nomeInvalido ? 'var(--p-inputtext-invalid-border-color)' : '',
            }"
            class="pi pi-pencil"
          ></i>
        </p-inputgroup-addon>

        <p-float-label variant="on">
          <input
            pInputText
            formControlName="nome"
            autocomplete="off"
            [style]="{
              'border-color': nomeInvalido ? 'var(--p-inputtext-invalid-border-color)' : '',
            }"
            id="Nome"
          />
          <label for="Nome">Nome</label>
        </p-float-label>
      </p-inputgroup>

      @if (nomeInvalido) {
        <p-message severity="error" variant="outlined" size="small"
          >O nome é obrigatório no mínimo 3 caracteres.</p-message
        >
      }

      <!-- Categoria -->
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-tag"></i>
        </p-inputgroup-addon>

        <p-float-label variant="on">
          <p-select
            appendTo="body"
            [options]="categoriasPossiveis"
            formControlName="categoria"
            inputId="categoria"
          ></p-select>
          <label for="categoria">Categoria</label>
        </p-float-label>
      </p-inputgroup>

      <!-- Tempo de Preparo -->
      <p-inputgroup>
        <p-inputgroup-addon
          [style]="{
            'border-color': tempoPreparoInvalido ? 'var(--p-inputtext-invalid-border-color)' : '',
          }"
        >
          <i
            class="pi pi-clock"
            [style]="{
              color: tempoPreparoInvalido ? 'var(--p-inputtext-invalid-border-color)' : '',
            }"
          ></i>
        </p-inputgroup-addon>

        <p-float-label variant="on">
          <p-inputnumber
            [showButtons]="true"
            buttonLayout="horizontal"
            formControlName="tempoPreparo"
            [decrementButtonClass]="tempoPreparoInvalido ? 'botao-alerta' : ''"
            [incrementButtonClass]="tempoPreparoInvalido ? 'botao-alerta' : ''"
            autocomplete="off"
            [style]="{
              'border-color': tempoPreparoInvalido ? 'var(--p-inputtext-invalid-border-color)' : '',
            }"
            inputId="tempoPreparo"
          />
          <label for="tempoPreparo">Tempo de Preparo (minutos)</label>
        </p-float-label>
      </p-inputgroup>

      @if (tempoPreparoInvalido) {
        <p-message severity="error" variant="outlined" size="small"
          >O tempo de preparo deve ser no mínimo 1 minuto.</p-message
        >
      }

      <!-- Porções -->
      <p-inputgroup>
        <p-inputgroup-addon
          [style]="{
            'border-color': porcoesInvalido ? 'var(--p-inputtext-invalid-border-color)' : '',
          }"
        >
          <i
            class="pi pi-users"
            [style]="{ color: porcoesInvalido ? 'var(--p-inputtext-invalid-border-color)' : '' }"
          ></i>
        </p-inputgroup-addon>

        <p-float-label variant="on">
          <p-inputnumber
            [showButtons]="true"
            buttonLayout="horizontal"
            formControlName="porcoes"
            [decrementButtonClass]="porcoesInvalido ? 'botao-alerta' : ''"
            [incrementButtonClass]="porcoesInvalido ? 'botao-alerta' : ''"
            autocomplete="off"
            [style]="{
              'border-color': porcoesInvalido ? 'var(--p-inputtext-invalid-border-color)' : '',
            }"
            inputId="porcoes"
          />
          <label for="porcoes">Porções</label>
        </p-float-label>
      </p-inputgroup>

      @if (porcoesInvalido) {
        <p-message severity="error" variant="outlined" size="small"
          >A quantidade de porções deve ser no mínimo 1.</p-message
        >
      }
      <!-- Modo de Preparo -->
      <p-inputgroup>
        <p-inputgroup-addon
          [style]="{
            'border-color': modoPreparoInvalido ? 'var(--p-inputtext-invalid-border-color)' : '',
          }"
        >
          <i
            [style]="{
              color: modoPreparoInvalido ? 'var(--p-inputtext-invalid-border-color)' : '',
            }"
            class="pi pi-clipboard"
          ></i>
        </p-inputgroup-addon>

        <p-float-label variant="on">
          <textarea
            rows="5"
            cols="30"
            pSize="large"
            pTextarea
            [fluid]="true"
            formControlName="modoPreparo"
            autocomplete="off"
            [style]="{
              'border-color': modoPreparoInvalido ? 'var(--p-inputtext-invalid-border-color)' : '',
            }"
            id="Modo de Preparo"
          >
          </textarea>
          <label for="Modo de Preparo">Modo de Preparo</label>
        </p-float-label>
      </p-inputgroup>

      @if (modoPreparoInvalido) {
        <p-message severity="error" variant="outlined" size="small"
          >O modo de preparo é obrigatório no mínimo 10 caracteres.</p-message
        >
      }

      <!-- Lista de ingredientes -->
      <p-input-group>
        <p-inputgroup-addon>
          <i class="pi pi-shopping-cart"></i>
        </p-inputgroup-addon>
        <p-float-label variant="on">
          <input
            formControlName="ingredienteAtual"
            pInputText
            (keydown.enter)="onIngredienteAdicionado()"
            autocomplete="off"
            id="Ingredientes"
          />
          <label for="Ingredientes">Ingredientes (pressione Enter para adicionar)</label>
        </p-float-label>
      </p-input-group>

      <p-panel header="Ingredientes:" style="margin-top: 1em">
        @if (ingredienteLista.length > 0) {
          @for (ingrediente of ingredienteLista || []; track ingrediente.id) {
            <p-chip
              [label]="ingrediente.value"
              removable="true"
              [style]="{'margin': '0 0.2rem'}"
              (onRemove)="removerIngrediente(ingrediente)"
            ></p-chip>
          }
        } @else {
          <p-message severity="info" variant="outlined" size="small"
            >Nenhum ingrediente adicionado.</p-message
          >
        }
      </p-panel>

      <p-button
        label="Salvar Receita"
        icon="pi pi-check"
        (onClick)="salvarReceita()"
        severity="primary"
        [disabled]="form.invalid || ingredienteLista.length === 0"
      ></p-button>
    </div>
  </form>

  @if (ocorreuErro) {
    <div [style]="{'margin-top': '1em'}">
      <p-message severity="error" variant="outlined" size="small">Ocorreu um erro ao salvar a receita. Por favor, tente novamente.</p-message>
    </div>
  }
</p-panel>
