@if (receitas | async) {
  <p-panel>
    <div class="cards-wrapper">
      @for (item of receitas | async; track item) {
        <p-card class="cards">
          <ng-template #header>{{ item.nome }}</ng-template>

          <ng-template #subtitle>{{ item.categoria }}</ng-template>

          <div style="display: inline-grid; grid-template-columns: auto auto; gap: 5px">
            <i class="pi pi-clock" style="align-content: start"></i>
            {{ item.tempoPreparo }} minutos
          </div>

          <ng-template #footer class="recipe-card-content-rodape">
            <div class="recipe-card-footer">
              <p-button
                class="button"
                label="Ver Detalhes"
                variant="outlined"
                severity="contrast"
                (click)="deixarVisivel(item.id)"
              />
            </div>
          </ng-template>
        </p-card>
      }
    </div>
  </p-panel>
  @if (idAmostra > 0) {
    @for (item of receitas | async; track item) {
      @if (item.id == idAmostra) {
        <p-drawer [visible]="mostrandoDrawer" blockScroll="true" (onHide)="idAmostra = -1" [fullScreen]="true" >
          <ng-template #header>
            <div style="width: 100%; margin-bottom: 0;" >

              <h2>
                {{ item.nome }} (ID: {{item.id}}) <br />
                <i class="pi pi-clock" style="align-content: start"></i>
                {{ item.tempoPreparo }} minutos
              </h2>
              <p style="margin-bottom: 0;">Categoria: {{ item.categoria.toString().split(' ').map((word) => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase()).join(' ') }}</p>
              <p style="margin-bottom: 0;">Data de Criação: {{ item.dataCadastro| date:'dd/MM/yyyy, HH:mm:ss' }}</p>

            </div>


          </ng-template>
          <p-divider align="left">Ingredientes (Porções: {{ item.porcoes }}):</p-divider>
          <ul>
            @for (ingrediente of item.ingredientes; track ingrediente) {
              <li>{{ ingrediente }}</li>
            }
          </ul>
          <p-divider align="left">Modo de Preparo:</p-divider>
          <pre>{{ item.modoPreparo }}</pre>
        </p-drawer>

      }
    }
  }
} @else {
  <p>Nenhuma receita cadastrada.</p>
}
